body {
    background-color: #f7f4f4;
    color: #805353;
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #d1aaaa;
    padding: 15px;
    text-align: center;
}

nav a {
    color: rgb(63, 18, 18);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    text-align: center;
}

nav a:hover {
    color: #00bfff;
}

.content {
    padding: 50px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #d8a3a3;
    color: #9c6f6f;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
    transition: 0.3s;
    text-align: center;
}

.btn:hover {
    background-color: #3f6c80;
    transform: scale(1.05);
}

.card {
    width: 300px;
    background-color: #a58484;
    color: rgb(112, 79, 79);
    margin: 40px auto;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

.card img {
    width: 120px;
    border-radius: 50%;
}

.card h2 {
    margin: 15px 0 5px;
}

.card p {
    font-size: 14px;
    color: #805353;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    background-color: #d3aaaa;
    color: #000;
    margin: 5px 0;
    border-radius: 10px;
    border: 3px solid #ccc;
    border-color: #b98c8c;
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #2f92b3;
    color: rgb(240, 238, 238);
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: #008ecc;
    transform: scale(1.05);
}

/* Mobile / small screens */
@media screen and (max-width: 768px) {
    nav a {
        display: block;
        margin: 10px 0;
        font-size: 16px;
    }

    .card,
    .content {
        width: 90%;
        margin: 20px auto;
    }

    form input,
    form textarea,
    form button {
        width: 100%;
        font-size: 16px;
    }
}